{{#bs-form formLayout="vertical" onSubmit=(action 'authenticate') as |form|}}
  {{#form.group}}
    <label for="identification" class="control-label">Login</label>
    {{input id="identification" value=identification placeholder="Username" class="form-control"}}
  {{/form.group}}
  {{#form.group}}
    <label class="control-label" for="password">Password</label>
    {{input id="password" value=password placeholder="Password" class="form-control" type="password"}}
  {{/form.group}}
  <button type="submit">Login</button>
  {{#if errorMessage}}
    <p>{{errorMessage}}</p>
  {{/if}}
{{/bs-form}}
