{{#bs-modal name="placeModal" size="lg" open=open onHide=close as |modal|}}
  {{#modal.header}}
    <h4 class="modal-title">Add New Place</h4>
  {{/modal.header}}
  {{#modal.body}}
    {{place-form isModal=true createPlace=createPlace}}
  {{/modal.body}}
{{/bs-modal}}
{{yield}}
