<li class="place">
  {{place.name}}
  <small>
    {{#if place.flagged}}
      {{fa-icon "flag"}}
    {{/if}}
    {{#if place.note}}
      {{fa-icon "comment"}}
    {{/if}}
    ({{place.instance_count}} instances)
  </small>
</li>
