{{#bs-modal onSubmit=(action "submit") name="placeModal" size="lg" open=open onHide=close as |modal|}}
  {{#modal.header}}
    <h4 class="modal-title">Add New Place</h4>
  {{/modal.header}}
  {{#modal.body}}
  <p>
    body
  </p>
  {{/modal.body}}
{{/bs-modal}}
