<div id="newPlaceFlash" style="display: none;"></div>
<div class="row">
  <div class="col-md-6">
    <form id="searchPlace" action="/search-place" method="POST">
      <div class="form-group">
        <label for="inputSearch">Search</label>
        <div class="input-group">
          <input type="text" class="form-control form-control-sm" name="search" placeholder="" value="" aria-describedby="searchHelpBlock" id="inputSearch">
          <span class="input-group-btn">
            <button class="btn btn-sm btn-secondary" type="submit" id="searchButton">Search gazetteer</button>
          </span>
        </div>
        <small id="searchHelpBlock" class="m-1 form-text text-muted">First, try to search for your place.</small>
      </div>
      <div class="row">
        <div class="checkbox col-6">
          <label>
            <input type="checkbox" name="us_bias"> <small>Bias results to the US?</small>
          </label>
        </div>
        <div class="checkbox col-6">
          <label>
            <input type="checkbox" name="nyc_limit"> <small>Limit results to NYC?</small>
          </label>
        </div>
      </div>
    </form>
    <form action="/places/add" method="POST" id="addPlace">
      <div class="form-group" id="inputNameFormGroup">
        <label class="control-label form-control-feedback" for="inputName" id="inputNameLabel">Name</label>
        <input type="text" class="form-control form-control-sm" maxlength="50" name="name" placeholder="" value="" aria-describedby="nameHelpBlock" id="inputName">
        <small id="nameHelpBlock" class="form-control-feedback m-1 form-text text-muted">Descriptive, unique, yet short. &ldquo;Paris, TX&rdquo; works, as does &ldquo;Church Street, NYC.&ldquo;</small>
      </div>
<!--      <div class="form-group">
        <label for="inputW3W">what3words address</label>
        <input type="text" class="form-control form-control-sm" name="w3w" placeholder="what.three.words" value="" aria-describedby="w3wHelpBlock" id="inputW3W">
        <small id="w3wHelpBlock" class="m-1 form-text text-muted">The <a href="http://www.what3words.com" target="_blank">what3words <span class="fa fa-external-link"></span></a> address for the location.</small>
      </div>
      -->
        <input type="hidden" class="form-control form-control-sm" name="w3w" value="" id="inputW3W">
      <div class="row">
        <div class="col-6 form-group">
          <label for="inputLat">Latitude (<em>y</em>)</label>
          <input type="text" class="form-control form-control-sm a-number" name="lat" placeholder="" value="" id="inputLat">
        </div>
        <div class="col-6 form-group">
          <label for="inputLon">Longitude (<em>x</em>)</label>
          <input type="text" class="form-control form-control-sm a-number" name="lon" placeholder="" value="" id="inputLon">
        </div>
      </div>
      <div class="form-group">
        <label for="inputSource">Source</label>
        <input type="text" class="form-control form-control-sm" name="source" placeholder="" value="" id="inputSource" aria-describedby="sourceHelpBlock">
        <small id="sourceHelpBlock" class="m-1 form-text text-muted">Coordinates source, like &ldquo;GeoNames&rdquo; or a <em>Wikipedia</em> article url.</small>
      </div>
      <div class="form-group">
        <label for="inputConfidence">Confidence</label>
        <select class="form-control form-control-sm" name="confidence" id="inputConfidence" aria-describedby="confidenceHelpBlock">
          <option value="3">Very confident this is the place.</option>
          <option value="2" selected>Mostly confident this is the place.</option>
          <option value="1">Not very sure this is the place.</option>
          <option value="0">Can&rsquo;t find the place.</option>
        </select>
        <small id="confidenceHelpBlock" class="m-1 form-text text-muted">How confident are you in your choice?</small>
      </div>
      <div class="form-group">
        <label for="inputNote">Note</label>
        <textarea class="form-control form-control-sm" name="note" id="inputNote" rows="2" aria-describedby="noteHelpBlock"></textarea>
        <small id="noteHelpBlock" class="m-1 form-text text-muted">Add a short note here providing some (optional) context or confusion, especially if you have doubts.</small>
      </div>
      <div class="form-group">
        <input type="hidden" name="geonameid" value="" id="inputGeonameid">
        <input type="hidden" name="bbox" value="" id="inputBbox">
        <input type="hidden" name="form_source" value="{{form_source}}" id="inputFormSource">
        <button id="addPlaceButton" type="submit" class="btn btn-primary">Add place</button>
      </div>
    </form>
  </div>
  <div class="col-md-6" id="externalResults">
    <h3>Results</h3>
  </div>
  <script>
    $(document).ready(function() {
      $('#searchPlace').submit(function() {
        $.post($(this).attr('action'), $(this).serialize(), function(data){
          $('#externalResults').empty().append(data);
          }, "text");
        return false;
      });
    });

    {{#form_source}}
      $(document).ready(function() {
        $('#addPlace').submit(function() {
          $.post($(this).attr('action'), $(this).serialize(), function(data){
            // add the new place to the search engine.
            var placeName = $('#inputName').val()
            var placeNameString = placeName + " -- {" + placeName + "}";
            places.add([placeNameString]);
            $('#inputPlace').val(placeNameString);
            $('.modal-content').empty().append(data);
            }, "text");
          return false;
        });
      });
    {{/form_source}}

    $('#inputName').focusout(function(){
      $.post("/places/search-duplicates", $(this).serialize(), function(data){
        duplicatePlaceToggle(data.slug);
        return false;
      });
    });


    $('.a-number').focusout(function(){
      if(this.value != ""){
        if(!$.isNumeric(this.value)){
          alert('Values for latitude and longitude must be numeric (n.nnnnn)');
          $('#' + this.id).val("");
        }
      }
    });

    function duplicatePlaceToggle(slug){
      if(slug === false){
        $('#inputNameFormGroup').removeClass('has-danger');
        $('#inputNameLabel').empty().append('Name');
        $('#addPlaceButton').empty().append('Add place').removeAttr('disabled').addClass('btn-primary').removeClass('btn-danger');
        $('#inputName').removeClass('form-control-danger');
      } else {
        $('#inputNameFormGroup').addClass('has-danger');
        $('#inputNameLabel').empty().append('This seems like a duplicated name. <a href="/places/' + slug + '" target="_blank">Check <span class="fa fa-external-link" aria-hidden="true"></span></a>');
        $('#inputName').addClass('form-control-danger');
        $('#addPlaceButton').empty().append('Place duplicate?').attr('disabled', 'true').addClass('btn-danger').removeClass('btn-primary');
      }
    }

  </script>
</div>
