@import "ember-bootstrap/bootstrap";

#short-map {
  height: 20rem;
}

#map {
  height: 25rem;
}


html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
}

.footer {
  /* position: absolute; */
  /* bottom: 0; */
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


#body-container {
  padding: 70px 15px;
}

code {
  font-size: 80%;
}
