<h1>List of Instances</h1>
<p class="lead">This is the current list of books that have been added to the database.</p>
<div class="row">
  <div class="col-sm-9">
    {{> partials/instances_list}}
  </div>
  <div class="col-sm-3">
    <p>What should go here?</p>
  </div>
</div>
