<div class="modal fade" id="addFlagModal" tabindex="-1" role="dialog" aria-labelledby="flagModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="flagModalLabel">Flag</h4>
      </div>
      <div class="modal-body">
        <p>Please add a comment below to explain why you are flagging this {{ type }}.</p>
        <form action="/add_flag" method="POST">
          <div class="form-group">
            <label for="flagComment">Comment:</label>
            <textarea class="form-control" name="flag_comment" id="flagComment" rows="3"></textarea>
          </div>
          <div class="form-group">
            <input type="hidden" name="flag_object_id" value="{{ object_id_for_flag }}">
            <input type="hidden" name="flag_object_type" value="{{ type }}">
            <button type="submit" class="btn btn-danger">Flag</button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close without flagging</button>
      </div>
    </div>
  </div>
</div>
