<footer class="footer">
  <div class="container">
    <p class="text-muted">&copy; 2016 <a href="http://moacir.com">Moacir P. de S&aacute; Pereira</a>. Available on <a href="http://github.com/nyscapes/nywalker">GitHub</a>.</p>
  </div>
</footer>
