<footer class="footer">
  <div class="container">
    <p class="text-muted">&copy; 2015 <a href="http://moacir.com">Moacir P. de Sá Pereira</a> and maybe NYScapes? Available on <a href="http://github.com/nyscapes/nywalker">GitHub</a>.</p>
  </div>
</footer>

