<footer class="footer fixed-bottom">
  <div class="container">
    <p class="text-muted">&copy; 2017 <a href="http://moacir.com">Moacir P. de S&aacute; Pereira</a>. Available on <a href="http://github.com/nyscapes/nywalker-server">GitHub</a>.</p>
  </div>
</footer>
