<table class="table table-sm m-3 table-hover">
  <thead class="thead-inverse">
    {{#book_permitted}}
      <th>&nbsp;</th>
    {{/book_permitted}}
    <th>&nbsp;</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
    <th>Page</th>
    <th>Order</th>
    <th>Place</th>
    {{#special_field}}
    <th>{{special_field}}</th>
    {{/special_field}}
    {{#book_permitted}}
      <th>&nbsp;</th>
    {{/book_permitted}}
  </thead>
  <tbody>
    {{#instances}}
    <tr>
      {{#book_permitted}}
        <td>
        {{#instance_permitted}}
          <a href="/books/{{slug}}/instances/{{instance_id}}/edit" class="btn btn-primary btn-sm">Edit</a>
        {{/instance_permitted}}
        {{^instance_permitted}}
          {{owner}}
        {{/instance_permitted}}
        </td>
      {{/book_permitted}}
      <td>
        <a href="/books/{{slug}}/instances/{{instance_id}}" class="btn btn-sm btn-info">View</a>
      </td>
      <td>
        {{#flagged}}
          <span class="fa fa-flag" aria-hidden="true"></span>
        {{/flagged}}
        {{^flagged}}
          &nbsp;
        {{/flagged}}
      </td>
      <td>
        {{#note}}
          <span class="fa fa-comment" aria-hidden="true"></span>
        {{/note}}
        {{^note}}
          &nbsp;
        {{/note}}
      </td>
      <td>
        {{page}}
      </td>
      <td>
        {{sequence}}
      </td>
      <td>
        <a href="/places/{{place_slug}}/">{{place_name}}</a>
      </td>
      {{#special_field}}
        <td>{{special}}</td>
      {{/special_field}}
      {{#book_permitted}}
        <td>
          {{#instance_permitted}}
            <form action="/books/{{slug}}/instances/{{instance_id}}/delete" method="POST">
              <button role="button" type="submit" class="btn btn-danger btn-sm">Delete</button>
            </form>
          {{/instance_permitted}}
          {{^instance_permitted}}
            &nbsp;
          {{/instance_permitted}}
        </td>
      {{/book_permitted}}
    </tr>
    {{/instances}}
    {{^instances}}
    <tr>
      <td colspan="3">No instances recorded, yet.</td>
    </tr>
    {{/instances}}
  </tbody>
</table>
