<p>&nbsp;</p>
    <p>Nothing fits? Try:</p>
      <ul>
        <li>
          <a target="_blank"
            href="https://en.wikipedia.org/w/index.php?search={{search_term}}">
            Searching <em>Wikipedia</em> 
            <span class='glyphicon glyphicon-new-window'
              aria-hidden='true'></span>
          </a>
        </li>
        <li>
          <a target="_blank"
            href="http://maps.google.com/?q={{search_term}}">
            Searching Google Maps 
            <span class='glyphicon glyphicon-new-window'
          aria-hidden='true'></span>
          </a>
        </li>
        <li>Adding it manually by clicking on the map. <strong>This is a last resort!</strong></li>
      </ul>

<script>
  var map = L.map('resultsMap').setView(washingtonSquare, 13);
  var baseLayer = L.tileLayer.provider('OpenStreetMap.Mapnik').addTo(map);

</script>

