<p>No results found! Try <a
    href="https://en.wikipedia.org/w/index.php?search={{search_term}}"
    target="_blank">Wikipedia <span class='glyphicon
      glyphicon-new-window' aria-hidden='true'></span></a>.</p>
  
<p>If you know where the place is from looking on a map, you can use the map
  above to get its <a href="http://www.what3words.com"
    target="_blank">what3words <span class="glyphicon
      glyphicon-new-window"></span></a> address, which will copy to the form
  automatically.</p>

<script>
  var map = L.map('resultsMap').setView(washingtonSquare, 13);
  var baseLayer = L.tileLayer.provider('OpenStreetMap.Mapnik').addTo(map);

</script>

