<div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog" aria-labelledby="passwordModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="passwordModalLabel">Change Password</h4>
      </div>
      <div class="modal-body">
        <form action="/users/{{username}}/change-password" method="POST">
          {{^admin?}}
            <div class="form-group">
              <label for="inputCurrentPassword">Current password:</label>
              <input type="password" class="form-control" id="inputCurrentPassword" placeholder="Current password" name="current_password">
            </div>
          {{/admin?}}
          <div class="form-group">
            <label for="inputNewPassword">New password:</label>
            <input type="password" class="form-control" id="inputNewPassword" placeholder="New password" name="new_password1">
          </div>
          <div class="form-group">
            <label for="inputNewPassword2">Repeat new password:</label>
            <input type="password" class="form-control" id="inputNewPassword2" placeholder="New password" name="new_password2">
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-danger">Change password</button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close without changing password</button>
      </div>
    </div>
  </div>
</div>
