<form action="/report_error" method="POST">
  <div class="form-group">
    <label for="userName">Name:</label>
    <input type="text" id="userName" class="form-control" value="{{user_name}}" placeholder="{{user_name}}" name="user_name" readonly>
  </div>
  <div class="form-group">
    <label for="errorReport">Error:</label>
    <textarea class="form-control" rows="5" name="error_report" id="errorReport">Type in your error here. Please be detailed.
    </textarea>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary">Submit Error</button>
  </div>
</form>
