<h1>About NYWalker</h1>

<p class="lead">Let’s map some novels!</p>

<p>Alternatively, read the <a href="https://github.com/nyscapes/nywalker/blob/master/README.md" target="_blank">README.md at Github</a>.

