<h1>About</h1>

<p class="lead"><code>NYWalker</code> is a distributed project that aims to
  develop a rich database of places mentioned in various novels. As the name
  suggests, the initial focus is on novels about New York City, but the code
  doesn’t particularly care about New York City. We do.</p>

<h2>Rationale</h2>

<p>As the geospatial Digital Humanities matures, a lot of the work being done on
“space in literature,” as <a
  href="https://books.google.com/books?id=ja2MUXS_YQUC&printsec=frontcover&dq=moretti+space+in+literature&hl=en&sa=X&ved=0ahUKEwjP17rHmqrJAhVG2xoKHZZHD3YQ6AEIHTAA#v=onepage&q=%22space%20in%20literature%22&f=false"
  target="_blank">Franco Moretti <span class="glyphicon glyphicon-new-window"
    aria-hidden="true"></span></a> refers to it, involves <a
  href="https://en.wikipedia.org/wiki/Named-entity_recognition"
  target="_blank">named-entity recognition <span class="glyphicon
    glyphicon-new-window" aria-hidden="true"></span></a> of a giant dataset of
novels.  See, for example, the work <a href="http://mattwilkens.com"
  target="_blank">Matt Wilkens <span class="glyphicon glyphicon-new-window"
    aria-hidden="true"></span></a> has done with corpora both from the 19th and
20th centuries.</p>

<p>We’re unsatisfied with the results available from that kind of analysis; it
  doesn’t answer the questions we have, as NER strips so much semantic (and
  probably more subjective) information away from each instance of a place
  mentioned in a text. The <a
    href="https://en.wikipedia.org/wiki/precision_and_recall"
    target="_blank">precision and recall <span class="glyphicon
      glyphicon-new-window" aria-hidden="true"></span></a>, also, we suspect is
  worse.</p>

<p>Instead, this application relies on time-consuming hand entry. The default
  setting is not any more semantically rich than what NER would return (simply,
  place name and position in text), but it is not terribly difficult to expand
  the <code>Instance</code> model to include, say, a boolean for whether the
  instance is inside dialog. Or part of a trip. Or to create a
  <code>Character</code> model who is responsible for that instance in the
  text. But we’re jumping ahead of ourselves.</p>

<h2>Goals</h2>

<p>
  We want to create a huge (geospatial) database that is of use to us
  in answering questions about U.S. novels primarily related to New York City.
  But we also want this database to be available to the outside world, as well.
  It’s an idiosyncratic product, possibly recreating issues related to selection
  bias, canonization, and the rest. But it’s a start.
</p>

<p>
  Once we’re live and the database is plump with data, we’ll include information
  for how one can connect to it.
</p>

<p>
  In addition to the above research goals, we also use this application
  pedagogically. Entering data is part of the course requirements for the
  “Writing New York” course at New York University, and the software is also used
  in at least one version of NYU’s “Digital Literary Studies” course. We believe
  that it’s a lightweight point of entry into the (geospatial) digital
  humanities, providing both instant feedback (a map!) and also encouraging
  students to collaborate, act as detectives hunting down geographical data, and
  the rest.
</p>

<p>
  Finally, the work is public-facing, fulfilling a final pedagogical goal, of
  giving students the opportunity to work on research projects with “real-world”
  applications.
</p>

<h2>Citing <code>NYWalker</code></h2>

<p>This project depends on the labor put into it by students, staff, and faculty. Please use the following rubrics when citing the project.</p>

<h3>For the project as a whole:</h3>
<h4>Chicago style:</h4>
<ul>
  <li>{{all_authors}}. <em>NYWalker</em>. http://nywalker.newyorkscapes.org/ (accessed {{today}}).</li>
</ul>
<h4>MLA style:</h4>
<ul>
  <li>{{all_authors}}. <em>NYWalker</em>. NewYorkScapes. Web. {{today}}.</li>
</ul>

<h3>For each single dataset:</h3>
<h4>Chicago style:</h4>
{{#cite_books}}
<h5>For <em>{{book_title}}</em>:</h5>
<ul>
  <li>{{authors}}. “NYWalker Dataset for <em>{{book_title}}</em> by {{book_author}}.” <em>NYWalker</em>. http://nywalker.newyorkscapes.org/books/{{book_slug}}/ (accessed {{today}}).</li>
</ul>
{{/cite_books}}
<h4>MLA style:</h4>
{{#cite_books}}
<h5>For <em>{{book_title}}</em>:</h5>
<ul>
  <li>{{authors}}. “NYWalker Dataset for <em>{{book_title}}</em> by {{book_author}}.” <em>NYWalker</em>. NewYorkScapes. Web. {{today}}. http://nywalker.newyorkscapes.org/books/{{book_slug}}/.</li>
</ul>
{{/cite_books}}

<h2>More?</h2>

<p>The above is a shorter version of the <a
    href="https://github.com/nyscapes/nywalker/blob/master/README.md"
    target="_blank">README.md at Github <span class="glyphicon
      glyphicon-new-window" aria-hidden="true"></span></a>. More information, especially regarding the technology underlying the application, can be found there.</p>

