{{nav-navbar}}
<div id="body-container" class="container" role="main">
{{outlet}}
</div>
<footer class="footer fixed-bottom">
    <p class="text-muted p-3">
      &copy; 2017 <a href="http://moacir.com">Moacir P. de S&aacute; Pereira</a>. Available on <a href="http://github.com/nyscapes/nywalker">GitHub {{fa-icon "external-link"}}</a>.</p>
</footer>
