<nav class="navbar navbar-inverse bg-inverse navbar-toggleable-md fixed-top">
    <button type="button" class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">NYWalker</a>

    <div id="navbar" class="collapse navbar-collapse">
      <ul class="mr-auto navbar-nav">
        <li>{{#link-to 'help'}}Help{{/link-to}}</li>
        <li>{{#link-to 'about'}}About{{/link-to}}</li>
      </ul>
    </div><!--/.nav-collapse -->
</nav>
{{outlet}}
<footer class="footer fixed-bottom">
  <div class="container">
    <p class="text-muted">&copy; 2017 <a href="http://moacir.com">Moacir P. de S&aacute; Pereira</a>. Available on <a href="http://github.com/nyscapes/nywalker">GitHub</a>.</p>
  </div>
</footer>
