<div class="row">
  <div class="col-md-9">
    <h1><em>{{title}}</em> {{{external_link}}}</h1>
    <h3>{{author}}, {{year}} <small>(isbn: {{isbn}})</small></h3>
    <a href="/books/{{slug}}/instance/new" class="btn btn-primary btn-default" role="button">Add instance</a>

  </div>
  <div class="col-md-3">
    <img src="{{cover}}" class="img-thumbnail img-responsive" alt="{{cover_alt}}">
    <p><a href={{link}}>Google Books info</a></p>
  </div>
</div>
