<div class="row">
  <div class="col-md-6">
    <div class="pull-right">
      <img src="{{cover}}" class="img-thumbnail img-responsive" alt="{{cover_alt}}">
      <p><a href={{link}}>Google Books info</a></p>
    </div>
    <h1><em>{{title}}</em> {{{external_link}}}</h1>
    <h3>{{author}}, {{year}} <small>(isbn: {{isbn}})</small></h3>
    <a href="/books/{{slug}}/csv" class="btn btn-primary btn-default" role="button">Download instances as .csv</a>
    <br />
    <br />
    {{#book_permitted}}
    <a href="/books/{{slug}}/instances/new" class="btn btn-primary btn-default" role="button">Add instance</a>
    {{/book_permitted}}
    <h2>Instances:</h2>
    <table class="table table-hover">
      <thead>
        {{#book_permitted}}
          <th>&nbsp;</th>
        {{/book_permitted}}
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th>Page</th>
        <th>Order</th>
        <th>Place</th>
        {{#special_field}}
        <th>{{special_field}}</th>
        {{/special_field}}
        {{#book_permitted}}
          <th>&nbsp;</th>
        {{/book_permitted}}
      </thead>
      <tbody>
        {{#instances}}
        <tr>
          {{#book_permitted}}
            <td>
            {{#instance_permitted}}
              <a href="/books/{{slug}}/instances/{{instance_id}}/edit" class="btn btn-primary btn-small">Edit</a>
            {{/instance_permitted}}
            {{^instance_permitted}}
              {{owner}}
            {{/instance_permitted}}
            </td>
          {{/book_permitted}}
          <td>
            {{#flagged}}
              <span class="glyphicon glyphicon-flag" aria-hidden="true"></span>
            {{/flagged}}
            {{^flagged}}
              &nbsp;
            {{/flagged}}
          </td>
          <td>
            {{#note}}
              <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
            {{/note}}
            {{^note}}
              &nbsp;
            {{/note}}
          </td>
          <td>
            {{page}}
          </td>
          <td>
            {{sequence}}
          </td>
          <td>
            <a href="/places/{{place_slug}}/">{{place_name}}</a>
          </td>
          {{#special_field}}
            <td>{{special}}</td>
          {{/special_field}}
          {{#book_permitted}}
            <td>
              {{#instance_permitted}}
                <form action="/books/{{slug}}/instances/{{instance_id}}/delete" method="POST">
                  <button role="button" type="submit" class="btn btn-danger btn-small">Delete</button>
                </form>
              {{/instance_permitted}}
              {{^instance_permitted}}
                &nbsp;
              {{/instance_permitted}}
            </td>
          {{/book_permitted}}
        </tr>
        {{/instances}}
        {{^instances}}
        <tr>
          <td colspan="3">No instances recorded, yet.</td>
        </tr>
        {{/instances}}
      </tbody>
    </table>

  </div>
  <div class="col-md-6">
    {{> partials/all_places_map}}
  </div>
</div>
