<h1>List of Books</h1>
<p class="lead">This is the current list of books that have been added to the database.</p>
<div class="row">
  <div class="col-sm-12">
    {{#admin?}}
      <a href="/books/new" class="btn btn-primary btn-default" role="button">Add Book</a>
    {{/admin?}}
    <table class="table table-hover">
      <thead>
        <tr>
          <th>&nbsp;</th>
          <th>Title</th>
          <th>Author</th>
          <th>Year</th>
          <th>Users</th>
          <th>Instances</th>
          <th>Pages</th>
          <th>Instances/pg.</th>
        </tr>
      </thead>
      <tbody>
        {{#books}}
          <tr>
            <td>
              {{#permitted}}
              <a href="/books/{{slug}}/instances/new" class="btn btn-primary btn-small">
                Add instance
              </a>
              {{/permitted}}
            </td>
            <td>
              <a href="/books/{{slug}}">
                <em>{{title}}</em></a> (<small>Google Books {{{external_link}}}</small>)
            </td>
            <td>{{author}}</td>
            <td>{{year}}</td>
            <td>{{users}}</td>
            <td>{{instances}}</td>
            <td>{{pages}}</td>
            <td>{{instances_per_page}}</td>
          </tr>
        {{/books}}
      </tbody>
    </table>
  </div>
</div>
