<div class="row">
  <div class="col-md-6">
    <div class="pull-right">
      <img src="{{cover}}" class="img-thumbnail img-responsive" alt="{{cover_alt}}">
      <p><a href={{link}}>Google Books info</a></p>
    </div>
    <h1><em>{{title}}</em> {{{external_link}}}</h1>
    <h3>{{author}}, {{year}} <small>(isbn: {{isbn}})</small></h3>
    <h4>Download:</h4>
    <h4>Instances as: <br /> 
      <span class="btn-group" role="group">
        <a href="/books/{{slug}}/instances-geojson" class="btn btn-default btn-small" role="button">GeoJSON</a>
        <a href="/books/{{slug}}/instances-csv" class="btn btn-default btn-small" role="button">.csv</a>
        <a href="http://oneclick.cartodb.com/?file={{base_url}}/books/{{slug}}/instances-geojson" class="btn btn-default btn-small" role="button">Send to Carto</a>
      </span>
    </h4>
    <h4>Places as: <br />
      <span class="btn-group" role="group">
        <a href="/books/{{slug}}/places-geojson" class="btn btn-default btn-small" role="button">GeoJSON</a>
        <a href="/books/{{slug}}/places-csv" class="btn btn-default btn-small" role="button">.csv</a>
        <a href="http://oneclick.cartodb.com/?file={{base_url}}/books/{{slug}}/places-geojson" class="btn btn-default btn-small" role="button">Send to Carto</a>
        <a href="/books/{{slug}}/places-special-csv-zip" class="btn btn-default btn-small" role="button">.zip of special.csvs</a>
      </span>
    </h4>
    {{#book_permitted}}
    <a href="/books/{{slug}}/instances/new" class="btn btn-primary btn-default" role="button">Add instance</a>
    {{/book_permitted}}
    <h2>Instances:</h2>
      {{> partials/instances_list}}
  </div>
  <div class="col-md-6">
    {{> partials/all_places_map}}
  </div>
</div>
