<h1>Error</h1>
<p class="lead">There was an error.</p>
<div class="row">
  <div class="col-sm-12">
    <p class="lead bg-danger">
      {{error}}
    </p>
    {{#error_text}}
      <p class="lead bg-danger">
        {{error_text}}
      </p>
    {{/error_text}}
    <p class="lead">
      Click on the “Back” button to return.
    </p>
  </div>
</div>
