<h1>Help!</h1>

<p class="lead"><code>NYWalker</code> is not very complicated, but that doesn’t mean it
  doesn’t need documentation. If you want to know more about the application,
  please see the “<A href="/about">About</a>” page. If you want specific rules
  for data entry, see “<a href="/rules">Rules</a>.” This help page is meant
  only for front-end users. The “Admin” section, at the end, is appropriate for
  front-end admins.</p>

<h2>Getting started</h2>

<p>Perhaps you’ve been assigned to use <code>NYWalker</code> to encode a novel or part of a
  novel in class. That’s great, and we hope you will find the experience
  interesting, especially once you see the results of your work on a map. There
  are two things, then, you definitely need before starting up, your <strong>login
    information</strong> and your <strong>book</strong>.</p>

<p>Your professor (or whoever is handling the technical administration of this
  application) will have provided you with a <strong>username</strong> and
  <strong>password</strong>. Use those to <a
    href="/login"><strong>login</strong></a>. If you’ve forgotten either,
  you’ll have to check with the administrator to reset them for you. Once you
  log in, you will be taken back to the main page.</p>

<p>Once you are logged in, you should first <em>change your password</em>. You
  may do so by clicking on your <strong>username</strong> at the top right of
  the page. You can also see your contributions there.</p>

<p>Your password changed, you are ready to start working. First you need, of
  course, the <strong>book</strong> you will be encoding. Years of experience
  have suggested that the best way to encode the book is by underlining places
  mentioned in the text as you read it, and then noting at the top of the page
  if there are places mentioned or not. This ensures that you don’t lose your
  notes (unless you lose the book!) and that you can quickly see if there are
  places mentioned or not. Otherwise, you may get confused or distracted by
  other underlining, like of key passages.</p> 

<p><strong>Do not try to encode a text you have not read.</strong> You will
  make many, many mistakes. This is guaranteed.</p>

<p>Once you’re logged in and you have your book handy, you have to find the
  book in the list under the <a href="/books"><strong>Books</strong></a> tab.
  Any book you have permission to add <code>Instances</code> to will have a big
  button reading “Add instance” beside it. When you are ready to start, you can
  click on that button.</p>

<h2>Adding <code>Instances</code></h2>

<p><code>NYWalker</code> is designed to collect three kinds of data:
  <code>Books</code>, <code>Places</code>, and <code>Instances</code>.
  <code>Books</code> are added and edited by admins, but you will be adding
  <code>Instances</code>, and, when necessary, <code>Places</code>.</p>

<p>What is an <code>Instance</code>? It’s the occurrence of a
  <code>Place</code> in a <code>Book</code>. Every <code>Instance</code>, then,
  has at least three attributes: a <code>Place</code>, a <strong>page
    number</strong>, and the <strong>sequence</strong> in which it appears. A
  fourth attribute, the <code>Special Field</code>, is unique to the each
  <code>Book</code>.</p> 

<p>For example, Colum McCann’s 2009 novel <a
  href="/books/let-the-great-world-spin-2009"><em>Let the Great World
    Spin</em></a> opens with these sentences:</p>

<blockquote>Those who saw him hushed. On Church Street. Liberty. Cortlandt.
  West Street. Fulton. Vesey. It was a silence that heard itself, awful and
  beautiful. Some thought at first that it must have been a trick of the light,
  something to do with the weather, an accident of shadowfall. Others figured it
  might be the perfect city joke.</blockquote>

<p>In just this example, there are references to seven places (six streets and
  the “city” at the end). Since “city” is a general term, even though we know
  the narrator <em>means</em> <a href="/places/new-york-city">New York
    City</a>, you won’t make note of it. The six streets, however… They are six
  <code>Instances</code> of six different <code>Places</code>. </p>

<p>And so you can add your first <code>Instance</code>. Click on that “Add
  instance” button from earlier, and a form should appear that asks for the
  “Place.”</p>
  
<p>If you start typing “Church,” a dropdown menu should appear with a bunch of
  options that look like this:</p>

<pre>Place name - {Some other place name}</pre>

<p>One of the rows in the dropdown menu reads “Church Street - {Church Street,
  NYC},” and that is what you want. The part inside the {}s is the “official”
  name of the place, and the part at the beginning is a historical name (like
  “Saigon - {Ho Chi Minh City}”), or a casual name (like “The Big Apple - {New
  York City}), or simply a variation (like “Fourteenth St. - {14th Street, NYC}”).</p>

<p>The software should automatically copy the historical/casual/alternate name
  into the second field, labeled “Place name in text.” So you should now have
  “Church Street - {Church Street, NYC}” in the top field and “Church Street”
  in the second. You can add a <strong>page</strong> (3), and, because it’s the
  first <code>Instance</code> on the page, you put in a 1 for
  <strong>sequence</strong>. You can also add a <strong>note</strong> about the
  instance and encode it with regarding the parameters of the <strong>special
    field</strong>.</p>

<p>Furthermore, the software makes a few assumptions regarding page and
  sequence. Every new <code>Instance</code> has, at first, the same page as the
  previous one, with the sequence raised by one. If you change the page number,
  then the sequence resets to 1.</p>

<p>Data entry is not a lot of fun, so I recommend learning to use the keyboard
  for most of your work. Use the <kbd>tab</kbd> key to move from field to
  field, the arrow keys to navigate the dropdown menu (and increase the page or
  sequence, if you need to), and, finally, <kbd>esc</kbd> to close the dropdown
  menu and <kbd>return</kbd> to activate one of the buttons. Also,
  <kbd>shift</kbd> + <kbd>tab</kbd> moves through the fields backwards. The
  goal is to limit the amount you use the mouse!</p>  

<p>Sometimes, alas, there will be no <code>Place</code> in the dropdown that
  matches your <code>Instance</code>. That’s when you use the “Add new place”
  button.</p>

<h2>Adding <code>Places</code></h2>

<p>While adding an <code>Instance</code> is relatively easy, adding a
  <code>Place</code> requires a bit more care. If nothing comes up in the
  “Place” dropdown that fits, leave your text in that field and type
  <kbd>tab</kbd> to move to the “Add new place” button and hit
  <kbd>return</kbd> to open the “Add new place” popup.</p>

<p>The first field lets you search for your place in the <a
    href="http://geonames.org" target="_blank">GeoNames <span class="glyphicon
      glyphicon-new-window"></span></a> gazetteer, a directory for place names.
  GeoNames works best for anything the size of a town or larger, as well as
  specific places like universities or even some buildings. It’s a great place
  to make a first try.</p>

<p>You can click on the “Search gazetteer” button right away or tick either of
  the two checkboxes (<kbd>tab</kbd> to move to them, <kbd>space</kbd> to
  select them) to help narrow your results. The first checkbox shows USA places
  first (Paris, TX before Paris, France), and the second limits its search to
  New York City, more or less.</p> <strong>Streets and addresses will typically
  not work</strong>, but it doesn’t hurt to try.</p>

<p>If GeoNames returns search results, they will appear on the right side of
  the popup. A marker shows up where the first place is found. Zoom out and
  around to see if it fits. If you click the “Use” button, it will copy over
  the coordinates, etc., to the left side of the popup. The “Map” button, on
  the other hand, lets you map the other options. The brief description of the
  place can help you get a sense of whether you have the right place or not,
  too.</p>

<p>Once you’ve clicked on “Use” and the data has copied over, make sure you
  pick a descriptive, unique, and short name for your place. Typically it’s a
  good idea to add a city name or state abbreviation.</p>

<p>Should nothing match your search, there are basically three routes to go:
  <em>Wikipedia</em>, Google Maps, and manual entry. Each one has different
  benefits.</p>

<p><em><strong>Wikipedia</strong></em> is a good second option if GeoNames
  provides nothing. You can click on the “Searching Wikipedia” link, and it
  will take you right to <em>Wikipedia</em>’s search results. Historical places
  are especially well served by the free encyclopedia.</p>

<p>A place in <em>Wikipedia</em> will typically have a set of coordinates in
  the top right corner. If you click on those, it will take you to that
  article’s “GeoHack” page. Carefully copy and paste the latitude and longitude
  (the decimal numbers at the top just below “WGS84”), and then add a name.
  When using <em>Wikipedia</em> as a source, I paste the URL of the article
  into the “Source” field.</p>

<p><strong>Google Maps</strong> is typically what you want to use for streets
  that are more than a few blocks long, as <em>Wikipedia</em> won’t give a
  precise point, choosing to draw the whole line instead. That has its value,
  too, but not in our application. Type in the street name into Google Maps,
  with appropriate limiting information (like “Bronx, NY”). Google Maps will
  drop a pin, either in the middle of the street, or at its beginning.</p>

<p>Google Maps gives the latitude and longitude of the pin in the URL.
  Typically the URL is of this form:</p>

<pre>https://www.google.com/maps/place/YOUR-SEARCH-TERM/@LATITUDE,LONGITUDE,ZOOMz/data…</pre>

<p>Again, carefully, copy and paste the latitude and longitude from the
    address bar into the appropriate fields in the form. Choose a good name,
    add “Google Maps” as the source, and add the place.</p>

  <p><strong>What3Words</strong> is what we use for manual entry, when you know
    where something is on a map but don’t want to deal with copying and
    pasting. This method works great for subway stations, specific buildings
    that are not in GeoNames, tiny parks, and the rest. You should still try
    GeoNames, but What3Words is a good substitute. Using it is easy: you move
    the map to where the place is, move the cursor over the right place (it
    should be a cross), and click once. The coordinates and What3Words address
    should copy over. Now give the place a good name, and you can add this
    place, too.</p>

  <p>As you can see, adding a <code>Place</code> requires a detail-oriented
    touch. Luckily, once a place is added, you can reuse it whenever you want
    to or need to.</p>

<h2>Editing and Deleting</h2>

<p>Currently, <code>Instances</code> can be edited or deleted if you made them.
  <code>Places</code> cannot be deleted, but some of their characteristics can
  be edited. If you need a more brute force intervention, contact your
  admin.</p>

<h2>Admins</h2>

<p>Admins can do everything, including handling <code>Books</code> and
  <code>Users</code>, which normal users cannot.</p>

<p>Similarly, they can delete any <code>Instance</code> or <code>Place</code>
  and grant <code>Users</code> permission to add <code>Instances</code> to
  books. A lot of the admin back-end is currently not implemented, though the
  security features are.</p>

