<div class="jumbotron">
  <div class="row">
    <div class="col-md-6">
      <h1>NYWalker</h1>

      <p>Welcome to <code>NYWalker</code>, a tool for geocoding the contents of
        novels.</p>

      <p>Guests are welcome to click around above and see the kinds of work we
        have already accomplished. Those with accounts (NYU students) can login
        by using the link at the top of this page.</p>

      <p>The application is written by <a href="http://moacir.com"
          target="_blank">Moacir P. de Sá Pereira <span class="glyphicon
            glyphicon-new-window" aria-hidden="true"></span></a> of the NYU <a
          href="http://english.fas.nyu.edu" target="_blank">English Department
          <span class="glyphicon glyphicon-new-window"
            aria-hidden="true"></span></a>. It is hosted by <a
          href="http://newyorkscapes.org" target="_blank">NewYorkScapes <span
            class="glyphicon glyphicon-new-window"
            aria-hidden="true"></span></a>, a research community also based at
        NYU. It’s also, then, part of <a
          href="https://twitter.com/search?src=typd&q=%23nyudh"
          target="_blank">#nyudh <span class="glyphicon glyphicon-new-window"
            aria-hidden="true"></span></a>.</p>

    </div>
    <div class="col-md-6">
      <div id="map">
      </div>
    </div>
  </div>
</div>

<script>
  var map = L.map('map').setView([0,0], 15);
  var baseLayer = L.tileLayer.provider('OpenStreetMap.Mapnik').addTo(map);
  var dots = L.markerClusterGroup();
  {{#places}}
    dots.addLayer(L.circleMarker([{{lat}}, {{lon}}]).bindPopup("{{name}}"));
  {{/places}}
  map.addLayer(dots);
  map.fitBounds(dots.getBounds());
</script>
