<div class="jumbotron">
  <h1>NYWalker</h1>
  <p class="lead">What can we map for you today?</p>
  <p>This is a super beta version of this app, but please go ahead and attempt to break it.</p>

  <p>The current functionality is very limited. You can add instances to one book, <i>Manhattan Transfer</i>. </p>

  <p>If you feel like adding books, there is <a href="/books/new">a link</a>, and the same
    is true if you want to <a href="/places/new">add a place</a> without going through the
    new instance form.</p>

  <p>Ah, you can also edit a place.</p>

  <h2>Obvious functionality that still needs to be added:</h2>

  <ul>
    <li> authentication / admin user scheme</li>
    <li> map on this page showing the scope of all the data</li>
    <li>mini maps on book pages showing all the data</li>
    <li>ability to delete records</li>
  </ul>

  <p>As you can see from the url, this is running on Amazon Web Services. This
    is slightly private, so don't share the url unless you are Moacir or Tom.</p>


</div>
