<div class="jumbotron">
  <div class="row">
    <div class="col-md-6">
      <p class="lead">Enter your instance from <a href="/books/{{book_slug}}"><em>{{book_title}}</em></a>.</p>
      <form action="/books/{{book_slug}}/instances/new" method="POST">
        {{> partials/instance_form}}
      </form>
    </div>
    <div class="col-md-6">
      <p class="lead">Previous instance:</p>
      {{#last_instance}}
        <!-- <form action="/books/{{book_slug}}/instances/new" method="POST"> -->
          <div class="form-group">
            <label for="inputLastPlace">Place</label>
            <input type="text" class="typeahead form-control" id="inputLastPlace" name="place" value="{{li_place}}" disabled>
          </div>
          <div class="form-group">
            <a href="/places/{{li_place_slug}}" target="_blank" type="button" class="btn btn-secondary">Open place in new tab</a>
          </div>
          <div class="form-group">
            <label for="inputLastPlaceNameInText">Place name in text</label>
            <input type="text" class="form-control" id="inputLastPlaceNameInText" name="place_name_in_text" value="{{li_place_name_in_text}}" disabled>
          </div>
          <div class="row">
            <div class="form-group col-md-6">
              <label for="inputLastPage">Page</label>
              <input type="number" class="form-control" id="inputLastPage" name="page" value="{{li_page}}" disabled>
            </div>
            <div class="form-group col-md-6">
              <label for="inputLastSequence">Order on page</label>
              <input type="number" class="form-control" id="inputLastSequence" name="sequence" value="{{li_sequence}}" disabled>
            </div>
          </div>
          {{#special_field}}
            <div class="form-group">
              <label for="inputLastSpecialField">{{special_field}}</label>
              <input type="text" class="form-control" id="inputLastSpecialField" name="special_field" value="{{li_special}}" disabled>
            </div>
          {{/special_field}}
          <div class="form-group">
            <label for="inputLastNote">Note</label>
            <textarea class="form-control" name="note" id="inputLastNote" rows="2" readonly>{{ li_note }}</textarea>
          </div>
          <div class="form-group">
            {{{ flag_modal_button }}}
          </div>
        {{#edit_last_instance}}
          <form action="/books/{{book_slug}}/instances/{{li_id}}/delete" method="POST">
            <div class="btn-group" role="group">
              <a href="/books/{{book_slug}}/instances/{{li_id}}/edit" class="btn btn-warning">Edit Previous Instance</a>
                <button role="button" type="submit" class="btn btn-danger btn-sm">Delete Previous Instance</button>
            </div>
          </form>
        {{/edit_last_instance}}
        {{^edit_last_instance}}
          <p>This instance belongs to {{li_owner}}.</p>
        {{/edit_last_instance}}
        <!-- </form> -->
      {{/last_instance}}
      {{^last_instance}}
        <h2>No previous instance</h2>
      {{/last_instance}}
    </div>
  </div>
</div>
{{#logged_in}}
  {{> partials/flag_modal }}
{{/logged_in}}
<div class="modal fade" id="addPlaceModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add new place</h4>
      </div>
      <div class="modal-body">
        {{> partials/place_form }}
      </div>
    </div>
  </div>
</div>


