<!DOCTYPE html>
<html>
  {{> partials/head}}
<body role="document">
  {{> partials/nav}}

  <div class="container theme-showcase" role="main">
    {{{yield}}}
  </div><!-- /.container -->

  {{> partials/footer}}
</body>
</html>
