<h1>List of Places</h1>
<p class="lead">All the places that we have added to the database.</p>
<div class="row">
  <div class="col-sm-6">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>&nbsp;</th>
          <th>&nbsp;</th>
          <th>&nbsp;</th>
          <th>Place</th>
          <th>Instances</th>
        </tr>
      </thead>
      <tbody>
        {{#places}}
          <tr>
            <td>
              <a href="#" onclick="recenterMap(L.latLng({{lat}}, {{lon}}));">
                <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
              </a>
            <td>
              {{#flagged}}
                <span class="glyphicon glyphicon-flag" aria-hidden="true"></span>
              {{/flagged}}
              {{^flagged}}
                &nbsp;
              {{/flagged}}
            </td>
            <td>
              {{#note}}
                <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
              {{/note}}
              {{^note}}
                &nbsp;
              {{/note}}
            </td>
            <td class="{{ confidence_class }}">
              <a href="/places/{{slug}}">
                {{name}}
              </a>
            </td>
            <td>
              {{instances}}
            </td>
          </tr>
        {{/places}}
      </tbody>
    </table>
  </div>
  <div class="col-sm-6 map" id="map">
  </div>
</div>
  <script>
    var map = L.map('map').setView(washingtonSquare, 11 );
    var baseLayer = L.tileLayer.provider('OpenStreetMap.Mapnik').addTo(map);
    var marker = L.marker([0, 0]).addTo(map);
  </script>
