<h1>List of Places</h1>
<p class="lead">All the places that we have added to the database.</p>
<div class="row">
  <div class="col-sm-6">
    <a href="/places/new" class="btn btn-primary" role="button">Add Place</a>
    {{#place-filter
      filter=(action 'filterByName')
      as |places|}}
    <ul class="results">
      {{#each places as |place|}}
        {{place-listing place=place}}
      {{/each}}
    </ul>
    {{/place-filter}}
  </div>
  <div style="col-sm-6">
    <div id="map">
      mappable places.
    </div>
    {{outlet}} <!-- places/show -->
  </div>
</div>

