<h1>List of Places</h1>
<p class="lead">All the places that we have added to the database.</p>
<div class="row">
  <!-- <div class="col-3 flex-first"> -->
  <div class="col-3">
    {{bs-button type="primary" onClick=(action "goToPlacesNew") defaultText="Add Place"}}
    {{#place-filter
      filter=(action 'filterByName')
      as |places|}}
    <div class="results">
      {{#each places as |place|}}
        {{place-listing place=place}}
      {{/each}}
    </div>
      {{!infinity-loader infinityModel=places loadingText="Loading places…" destroyOnInfinity=true}}
    {{/place-filter}}
  </div>
  <div style="col-9">
  <!-- <div style="col-9 flex-last"> -->
    {{outlet "places-show"}}
  </div>
</div>

