<div class="row">
  <div class="col-md-6">
    <h1>{{name}}<br />
      <small>Added by {{user}} on {{added_on}}</small>
    </h1>
    <ul>
      <li>Source: {{{source_link}}} (Confidence: {{confidence}})</li>
      <li>Latitude: {{lat}}, Longitude: {{lon}}</li>
      {{#w3w}}
        <li><a href="http://what3words.com/" target="_blank">What3Words</a> name: {{w3w}}
      {{/w3w}}
    </ul>

    <p>Known as: {{nicknames_sentence}} </p>

    {{#note}}
      <div class="well well-sm">
        <strong>Note:</strong> {{note}}
      </div>
    {{/note}}
    
    {{#logged_in}}
      {{#place_permitted}}
        <div class="btn-group" role="group">
          <form action="/places/{{slug}}/delete" method="POST">
          <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#editPlaceModal">Edit</button>
      {{/place_permitted}}
      {{^place_permitted}}
        <div class="form-group">
      {{/place_permitted}}
          {{{ flag_modal_button }}}
      {{#place_permitted}}
          <button role="button" type="submit" class="btn btn-danger btn-sm">
            Delete
          </button>
        </form>
        {{#flagged}}
          <form action="/places/{{slug}}/unflag" method="POST">
            <button role="button" type="submit" class="btn btn-danger btn-sm">
              Unflag
            </button>
          </form>
        {{/flagged}}
      {{/place_permitted}}
      </div>
    {{/logged_in}}

    {{#flagged}}
      {{> partials/flag_table }}
    {{/flagged}}

    <h2>In books: <small>(All instances link)</small></h2>
    <table class="table table-hover">
      <thead>
        <th>Book</th>
        <th>Instances</th>
      </thead>
      <tbody>
        {{#books}}
        <tr>
          <td>
            <a href="/books/{{book_slug}}">{{book_title}}</a>
          </td>
          <td>
            {{instances}}
          </td>
        {{/books}}
        {{^books}}
        <tr>
          <td colspan="2">No instances recorded, yet.</td>
        </tr>
        {{/books}}
      </tbody>
    </table>
  </div>
  <div class="map col-md-6" id="map">
  </div>
  <script>
    var center = L.latLng({{lat}}, {{lon}});
    // Need to initialize at 0,0 so that the later call of fitBounds doesn't crash the map.
    var map = L.map('map').setView([0,0], 15);
    var baseLayer = L.tileLayer.provider('OpenStreetMap.Mapnik').addTo(map);
    var marker = L.marker(center).addTo(map);
    {{{bounding_box_polygon}}}
    map.panTo(center);
  </script>
</div>
<div class="modal fade" id="editPlaceModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Edit {{name}} (slug: {{slug}})</h4>
      </div>
      <div class="modal-body">
        {{> partials/edit_place_form }}
      </div>
    </div>
  </div>
</div>
{{#logged_in}}
  {{> partials/flag_modal }}
{{/logged_in}}
