<div class="row">
  <div class="col-md-6">
    <h1>{{name}}</h1>
    <h2>Added by {{user}} at {{added_on}}</h2>


  </div>
  <div class="map col-md-6" id="map">
  </div>
  <script>
    var center = L.latLng({{lat}}, {{lon}});
    var map = L.map('map').setView(center, 15);
    var baseLayer = L.tileLayer.provider('OpenStreetMap.Mapnik').addTo(map);
    var marker = L.marker(center).addTo(map);
    {{{bounding_box_polygon}}}
  </script>
</div>
