<div class="row">
  <div class="col-md-6">
    <h1>{{name}}<br />
      <small>Added by {{user}} at {{added_on}}</small>
    </h1>
    <ul>
      <li>Source: {{{source_link}}} (Confidence: {{confidence}})</li>
      <li>Latitude: {{lat}}, Longitude: {{lon}}</li>
    </ul>

    <p>Other names: {{nicknames_sentence}} </p>
    
    <h2>In books: <small>(All instances link)</small></h2>
    <table class="table table-striped table-hover">
      <thead>
        <th>Book</th>
        <th>Instances</th>
      </thead>
      <tbody>
        {{#books}}
        <tr>
          <td>
            <a href="/books/{{book_slug}}">{{book_title}}</a>
          </td>
          <td>
            {{instances}}
          </td>
        {{/books}}
        {{^books}}
        <tr>
          <td colspan="2">No instances recorded, yet.</td>
        </tr>
        {{/books}}
      </tbody>
    </table>
  </div>
  <div class="map col-md-6" id="map">
  </div>
  <script>
    var center = L.latLng({{lat}}, {{lon}});
    var map = L.map('map').setView(center, 15);
    var baseLayer = L.tileLayer.provider('OpenStreetMap.Mapnik').addTo(map);
    var marker = L.marker(center).addTo(map);
    {{{bounding_box_polygon}}}
  </script>
</div>
