<h1>Instance Rules</h1>

<p class="lead">Entering a bunch of data by hand is better if it’s systematized, so here are a few tips for consistency.</p>

<ul>
  <li>downtown</li>
  <li>New York, New York</li>
  <li>Washington, D.C.</li>
  <li>Alençon lace, Waterford Crystal</li>
  <li>New Yorker, Irish, French</li>
  <li>University of California - Davis</li>
  <li>the park</li>

</ul>

<h2> adding streets wi google maps</h2>
